<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/groupchat.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3 mt-2">
                    <div class="card-body">
                        <form action="">
                            <div class="input-group ">
                                <input type="text" class="form-control">
                                <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                        
                    </div>
                </div>
        </div>
        </div>
       <div class="row">
           
           <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <img src="https://static.thenounproject.com/png/17241-200.png" class="rounded-circle" alt="" srcset="">
                    <h5 class="text-center">Username || Fullname</h5>
                    <p class="text-center"><i class="fas fa-circle fa-xs" style="color: green;"></i> Online</p>
                    <p class="text-center"><i class="fas fa-compass"></i> Colombo</p>
                </div>

                <div class="card-footer">
                    <p class="text-center"><a href="">View Profile <i class="fas fa-arrow-right fa-xs mb-0"></i></a></p>
                </div>

            </div>
            <div class="card mt-2 mb-2">
                <div class="card-header">
                    <h5>Online Friends</h5>
                </div>
                <div class="card-body">
                    content
                 </div>
           </div>
           </div>
           <div class="col-md-6">
               <div class="card">
                   <div class="card-header">
                       <h5>Group Name</h5>
                   </div>
                   <div class="card-body">
                        <div class="chat_area">
                            <ul id="messages" class="list-unstyled">
                                <!-- <li class="left">
                                    <span class="chat-img1 pull-left">
                                        <img src="http://placehold.it/300x300" class="img-circle" alt="">
                                    </span>
                                    <div class="chat-body1">
                                        <span class="chat-name">Username</span>
                                        <br>
                                        message body
                                    </div>
                                </li> -->
                            </ul>
                            <script id="message-template" type="text/template">
                                <li class="left">
                                    <span class="chat-img1 pull-left">
                                        <img src="http://placehold.it/300x300" class="img-circle" alt="">
                                    </span>
                                    <div class="chat-body1">
                                        <span class="chat-name">{{ sender }}</span>
                                        <br>
                                        {{ text }}
                                    </div>
                                </li>
                            </script>
                        </div>
                    </div>
                   <div class="card-footer">
                       <form id="message-form"  method="POST">
                           <div class="input-group">
                               <input type="hidden" id="groupName" name="groupName" value="<%= groupName %>">
                               <input type="hidden" id="sender" name="sender" value="<%= user.first_name %>">
                               <input type="text" id="msg" class="form-control">
                               <div class="input-group-append">
                                <button class="btn btn-info" id="send-message" type="submit">Send</button>
                              </div>
                           </div>
                       </form>
                   </div>
               </div>

           </div>
           <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h5><i class="fas fa-users"></i> Online Club Fans<span id="numUsers"></span></h5>
                </div>
                <div class="card-body">
                    <div id="users"></div>
                 </div>
            </div>
       </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="title-name"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" >
          <form action="" method="post"  id="add-friend">
              <input type="hidden" name="receiverName" id="receiverName" value="">
              <input type="hidden" name="senderName" id="senderName" id="sender-name" value="<%= user.username %>">
              <center>
                <button type="submit" id="friend-add" class="btn btn-primary"><i class="fas fa-user-plus"></i> Add Friend</button>
                <a class="btn btn-secondary" id="nameLink" style="color: ivory;"><i class="fas fa-eye"></i> View Profile</a>
              </center>
              
          </form>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Add Friend</button> -->
        </div>
      </div>
    </div>
  </div>
  <!-- modal end -->
    <!-- <footer class="footer bg-primary p-3" style="bottom: 0; position: absolute;">
        <div class="container">
            <p class="text-center" style="color: aliceblue;">Copyright &copy; 2020 by Harshan</p>
        </div>
    </footer> -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/group/groupchat.js"></script>
    <script src="/js/group/send_request.js"></script>
</body>
</html>